

# the location of the private key for connection to the servers
subscription_id = "{{ subscription_id }}"
client_id = "{{ app_id}}"
client_secret ="{{ password }}" 
tenant_id = "{{ tenant }}"
location = "{{location}}"
network_security_group = "{{network_security_group}}" 
virtual_network = "{{virtual_network}}" 
VM_number = "{{VM_number}}" 
